<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{item.dt_txt | replaceSpace | date: 'EEE'}} {{item.dt_txt | replaceSpace | date: 'shortTime'}}</mat-card-title>
    <mat-card-subtitle>{{item.dt_txt | replaceSpace | date:'mediumDate'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>
          <img mat-card-image src="https://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt="{{item.weather[0].description}}" class="card-img">
        {{item.main.temp}}&#176;<br/>
        {{item.weather[0].description}}
      </p>
    </mat-card-content>
</mat-card>